<?xml version="1.0" encoding="utf-8"?>
<config>
	<username>18905607211</username>  <!-- 手机号 -->
	<password>rgj3313301</password>  <!-- 密码 -->
	<user_agent>102</user_agent>  <!-- 版本号，游戏更新改动这里就可以了 -->
	<server>1</server>   <!-- 游戏区，1区填1，2区填2，3区填3，以后有4区理论上填4就行了…… -->
	<sleep>240</sleep>   <!-- 掉线重连时间，单位为秒，因为不提供卖卡等功能，设置掉线重连时间可以方便卡快满的时候用手机卖下卡，免得满卡挂不了机 -->
	<wait_time>8</wait_time>  <!-- 扫列表频率，单位为秒 -->
	<option> <!-- 以下选项如果选是则填1，否则填0 -->
		<is_pvp>1</is_pvp>  <!-- 是否点名 -->
		<is_run>1</is_run>  <!-- 是否跑图 -->
		<auto_drink_green>0</auto_drink_green> <!-- 是否自动喝绿（0否 1是）,开启则ap不足自动喝绿 -->
		<stop_drink_green>20</stop_drink_green> <!-- 绿茶数量少于多少停止嗑药，默认0 -->
		<auto_drink_red>0</auto_drink_red> <!-- 是否自动喝红（0否 1是），开启bc不足自动喝红 -->
		<stop_drink_red>30</stop_drink_red> <!-- 红茶数量少于多少停止嗑药，默认0 -->
		<run_factor>0</run_factor>  <!-- 是否跑因子（需要开启跑图），和跑每日冲突，开启跑因子之后不会跑每日，和指定跑图不冲突，不过一般没人指定跑因子图吧…… -->
		<day_first>0</day_first>  <!-- 优先跑每日秘境（需要开启跑图） -->
		<what_map>0</what_map>  <!-- 指定跑哪张图，选图界面从上往下数，0表示不指定，本选项优先级低于优先跑每日（需要开启跑图） -->
		<what_floor>0</what_floor> <!-- 指定跑哪一层，0表示不指定 -->
		<is_battle_private_fairy>1</is_battle_private_fairy>  <!-- 是否放自己的妖 -->
		<has_private_fairy_stop_run>1</has_private_fairy_stop_run>  <!-- 身上有妖精停止跑图 -->
		<isOnlyArousal>0</isOnlyArousal>  <!-- 是否只舔觉醒,1表示是,其他表示否 -->
		<GuildFairy>1</GuildFairy>  <!-- 1表示舔公会普妖,优先级大于只舔觉醒 -->
		<onlyOnce>1</onlyOnce>  <!-- 1表示只舔没打过的妖,其他表示妖没死就会继续战斗 -->
		<noGuild>1</noGuild>  <!-- 1表示不走公会图 -->		
	</option>
	<stop_run_when_bc_more>999</stop_run_when_bc_more>  <!-- 当bc多余设定的值得时候停止跑图，主要目的是防止周一浪费bc，不需要这个功能把值设置到特别大就行了，比如999 -->
	<auto_point>bc</auto_point>   <!-- 自动加点，填ap或者bc -->
	
	<!-- 提供换卡功能，不过比较麻烦，希望耐心看完 -->
	<!-- 卡组格式如下： -->
	<!-- empty,empty,empty,empty,empty,empty,empty,empty,empty,empty,empty,empty -->
	<!-- 一共12个empty，依序代表12张卡，第4个empty是第2排第一张，以此类推 -->
	<!-- empty要填的是卡片的编号，如何找出要填卡片的编号呢 -->
	<!-- 首先填完账号密码游戏区之后，在外面运行一遍“启动.bat”，出现登录成功后关掉 -->
	<!-- 然后可以发现外面多了一个userInfo.xml，这个里面存的是你的账号所有信息 -->
	<!-- 用记事本打开userInfo.xml，然后上游戏找到你想要设置的卡片 -->	
	<!-- 在userInfo.xml里面搜索你想要设置的卡片的hp，然后可能会有多张同样hp的卡片，这个时候就再对比atk（xml里面是power），lv（卡片当前等级），lv_max（卡片最大等级）之类的信息 -->
	<!-- 都一致的基本上就是你需要的卡片了，然后把找到的serial_id替换empty就可以了  -->
	<!-- 可以自行新建个记事本，把常用的卡片的serial_id记录下来，这样就比较方便了 -->
	<!-- 举个例子，比如我的女仆的serial_id是10086 -->
	<!-- 那么我单女仆需要填的就是 ：10086,empty,empty,empty,empty,empty,empty,empty,empty,empty,empty,empty-->
	<!-- 不要少填也不要多填，多卡就依次替换empty就好了，确保最后填完是12张卡 -->
	<!-- 填完之后重新启动一遍“启动.bat”，然后可以上游戏再确认一下是否换成功了 -->
	<!-- 再啰嗦一句吧……不要设置完运行启动.bat就马上上游戏确认，比如你设置了点名卡组，至少点了一个人再上游戏看吧，不然可能还没有跑到换卡那一步…… -->
	<!-- 虽然比较麻烦，不过也算得上一劳永逸的工作，常用都是固定那几张卡吧,而且找过一次之后，再找也不会觉得麻烦了 -->
	<!-- 如果不填，则默认用狼娘 -->
	<card>
		<!-- 点名用的卡组 -->
		<pvp>
			<pvp_when_bc_more_than>300</pvp_when_bc_more_than>  <!-- 多余多少bc开始点名，默认30bc -->
			<pvp_card>84914252,empty,empty,empty,empty,empty,empty,empty,empty,empty,empty,empty</pvp_card>   <!-- pvp需要的卡组，如果不填，则默认用狼娘 -->
		</pvp>
		<!-- 舔妖精用卡组，没有狼娘本项必填，否则不能正常使用，有狼娘就不用填了，填了也是用狼娘舔，用于没有狼娘的号舔妖精 -->
		<lick_fairy>
			<card></card>  <!-- 卡片，填单卡就可以了，比如10086 -->
			<cost>2</cost>  <!-- 这张卡片需要多少cost -->
		</lick_fairy>
		<!-- 打秘境守护者用的卡组，直接上12卡打100%能过，不消耗bc的 -->
		<battle_area_boss>109201026,109191246,empty,empty,empty,empty,empty,empty,empty,empty,empty,empty</battle_area_boss>
		<!-- 打妖精用的卡组 -->
		<!-- wake：,1表示是觉醒，0表示不是觉醒 -->
		<!-- fairy_lv：多少级的妖精使用这个卡组，用“-”隔开，比如50-70 -->
		<!-- fairy_hp：妖精剩余HP大于等于多少时使用这个卡组，小数表示，比如0.8表示妖精在总血量80%的时候使用这个卡组 -->
		<!-- battle_card：具体参战的卡片，卡组格式如上面说明所述 -->
		<!-- battle_cost：参战卡片需要耗费的cost -->
		
		<!-- 需要添加卡组自行增加，格式一样就行了，一个<battle_fairy></battle_fairy>代表一个卡组，数量自定义，不想使用的删除掉就行了 -->
		<!-- 如果不想使用已经定义的卡组功能，又不想删除掉，把妖精等级设置到离谱就行了，但是只要有卡组，则任何一个卡组里面的值都不能有错 -->
		<!-- 不满足卡组条件的妖精会用狼娘舔一下 -->
		<battle_fairy>
			<wake>0</wake>   
			<fairy_lv>500-600</fairy_lv>   
			<fairy_hp>0.8</fairy_hp>
			<battle_card>103734595,empty,empty,empty,empty,empty,empty,empty,empty,empty,empty,empty</battle_card>  
			<battle_cost>12</battle_cost>  
		</battle_fairy>		
	</card>
</config>
